@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: #000000;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary-color-extra-weak: #d1fae5;
	--primary-color-weak: #059669;
	--primary-color: #047857;
	--primary-color-intense: #065f46;

	--primary-text-color: #047857;
	--primary-text-color-intense: #065f46;
	--secondary-text-color: black;
	--secondary-text-color-weak: #475569;

	--secondary-color: #f1f5f9;
	--secondary-color-intense: #e5e7eb;

	--input-bg-color: white;
	--input-text-color: #1f2937;
	--input-border-color: #d1d5db;
	--disabled-input-background-color: #f3f4f6;
	--disabled-button-background-color: #a7f3d0;

	--tertiary-text-color: #6b7280;

	--card-bg-color: white;
}

body {
	background: var(--primary-color);
}

[data-theme='violet'] {
	--primary-color-extra-weak: #ede9fe;
	--primary-color-weak: #7c3aed;
	--primary-color: #6d28d9;
	--primary-color-intense: #5b21b6;

	--primary-text-color: #6d28d9;
	--primary-text-color-intense: #5b21b6;
	--secondary-text-color: black;
	--secondary-text-color-weak: #475569;

	--secondary-color: #f1f5f9;
	--secondary-color-intense: #e5e7eb;

	--input-bg-color: white;
	--input-text-color: #1f2937;
	--input-border-color: #d1d5db;
	--disabled-input-background-color: #f3f4f6;

	--tertiary-text-color: #6b7280;

	--card-bg-color: white;
}

[data-theme='dark'] {
	--primary-color-extra-weak: #e5e7eb;
	--primary-color-weak: #1f2937;
	--primary-color: #111827;
	--primary-color-intense: #030712;

	--primary-text-color-intense: white;
	--primary-text-color: #e2e8f0;
	--secondary-text-color: #e2e8f0;
	--secondary-text-color-weak: #94a3b8;

	--secondary-color: #030712;
	--secondary-color-intense: #111827;

	--input-bg-color: #1f2937;
	--input-text-color: #f3f4f6;
	--input-border-color: #1f2937;
	--disabled-input-background-color: #f3f4f6;

	--tertiary-text-color: #6b7280;

	--card-bg-color: #111827;
}

[data-theme='grey'] {
	--primary-color-extra-weak: #e5e7eb;
	--primary-color-weak: #334155; /* Color 3; */
	--primary-color: #1e293b; /* Color 2; */
	--primary-color-intense: #0f172a; /* Color 1; */

	--primary-text-color: white; /* Color 2; */
	--primary-text-color-intense: white; /* Color 1; */
	--secondary-text-color: white;
	--secondary-text-color-weak: #94a3b8;

	--secondary-color: #64748b;
	--secondary-color-intense: #1e293b; /* Carga..; */

	--input-bg-color: #1f2937;
	--input-text-color: #f3f4f6;
	--input-border-color: #1f2937;
	--disabled-input-background-color: #f3f4f6;

	--tertiary-text-color: #f3f4f6;

	--card-bg-color: #1e293b;
}

[data-theme='pink'] {
	--primary-color-extra-weak: #e0fcff;
	--primary-color-weak: #fda4af;
	--primary-color: #fb7185;
	--primary-color-intense: white;

	--primary-text-color: #881337;
	--primary-text-color-intense: #4c0519;
	--secondary-text-color: #4c0519;
	--secondary-text-color-weak: #475569;

	--secondary-color: #fecdd3;
	--secondary-color-intense: #fda4af;

	--input-bg-color: #1f2937;
	--input-text-color: #f3f4f6;
	--input-border-color: #1f2937;
	--disabled-input-background-color: #f3f4f6;

	--tertiary-text-color: #475569;

	--card-bg-color: white;
}

.input {
	background: var(--input-bg-color);
	color: var(--input-text-color);
}

.bg-primary {
	background: var(--primary-color);
}

.bg-primary-extra-weak {
	background: var(--primary-color-extra-weak);
}

.bg-primary-weak {
	background: var(--primary-color-weak);
}

.bg-primary-intense {
	background: var(--primary-color-intense);
}

.text-primary {
	color: var(--primary-text-color);
}

.text-secondary {
	color: var(--secondary-text-color);
}

.text-tertiary {
	color: var(--tertiary-text-color);
}

.text-secondary-weak {
	color: var(--secondary-text-color-weak);
}

.text-primary-intense {
	color: var(--primary-text-color-intense);
}

.bg-secondary {
	background: var(--secondary-color);
}

.bg-card {
	background: var(--card-bg-color);
	transition: background-color 0.5s ease, color 0.2s ease;
}

.animate-bg-transition {
	transition: background-color 0.5s ease, color 0.5s ease;
}
