@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: #000000;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary-color-weak: #059669;
	--primary-color: #047857;
	--primary-color-intense: #065f46;
}

[data-theme='indigo'] {
	--primary-color-weak: #4f46e5;
	--primary-color: #4338ca;
	--primary-color-intense: #3730a3;
}

[data-theme='dark'] {
	--primary-color-weak: #1e293b;
	--primary-color: #0f172a;
	--primary-color-intense: #020617;
}

.bg-primary {
	background: var(--primary-color);
}

.bg-primary-weak {
	background: var(--primary-color-weak);
}

.bg-primary-intense {
	background: var(--primary-color-intense);
}

.text-primary {
	color: var(--primary-color);
}

.text-primary-intense {
	color: var(--primary-color-intense);
}
